[main]
tracker = github

[auth]
user = amenoni
password = extra300L

[list]  # --list options
#limit =
# number of issues to retrieve when listing. Defaults to 40.Is overrided at runtime via the --limit argument

[redmine] # Redmine specific config
url = url where the issue tracker is located
inprogress_id = Internal redmine ID for the "In progress" status. Needed for
                --take
assignee_id = Internal redmine ID for the assignee. Needed for --take
project = Only show issues from this project

[github] # Github specific config
#repo_user = the owner of the issue tracker. Useful for overriding real owner  when working on a fork. Defaults to origin's owner
#repo_name = name of the remote repo. Defaults to origins's name

[bitbucket] # Bitbucket specific config
repo_user = the owner of the issue tracker. Useful for overriding real owner
            when working on a fork. Defaults to origin's owner
repo_name = name of the remote repo. Defaults to origins's name
